<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Why Cat Checklist</title>
	<link rel="icon" href="/static/images/microscope-transparent-xx-sml.png" type="image/png" sizes="16x16">

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

    <!-- WHICAT -->
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Special+Elite" rel="stylesheet">-->
    <link href="/static/css/whicat.css" rel="stylesheet">
	<script src="/static/js/whicat.js"></script>
	
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	</head>

	<body id="top">
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/index"><img alt="Whicat logo" src="/static/images/microscope-transparent-sml.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li class="active"><a href="/checklist">Checklist</a></li>
            <li><a href="#tutorial">Tutorial</a></li>
            <li><a href="#login">Login</a></li>
          </ul>
       </div><!--/.nav-collapse -->
      </div>
	</nav>

<!-- Header -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>Question #1</h1>
					<h2>Are the aims of the website clear?</h2>
					<form action="/process" method="POST">
						<div class="btn-group" data-toggle="buttons" color = "#000000" >
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A1" autocomplete="off"> No
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A2" autocomplete="off"> Not really
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A3" autocomplete="off"> Can't decide
							</label>

							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A4" autocomplete="off"> Seems ok
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A5" autocomplete="off"> Yes
							</label>
						</div>
                         <input type="submit" value="Submit!">
					</form>
				</div>
				<div class="col-md-2 bottom-align-text">
					<!--<a href="#iframe-Q1">View Website</a>-->
					<a href="/checklist/question/2" class="btn btn-default">Next Question</a>
				</div>
			</div>
		</div>
	</div>

<!-- Top Section -->
    <div class="container">
		<section>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#hints" aria-controls="hints" role="tab" data-toggle="tab">Hints</a></li>
			<li role="presentation"><a href="#examples" aria-controls="examples" role="tab" data-toggle="tab">Examples</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="hints">
				<section>
					<p>Does the website include a statement about:</p>
					<ul>
						<li>what it is about</li>
						<li>what topics it includes</li>
						<li>who it is for?</li>
					</ul>
					<p>Does the website provide the information it aims to provide?</p>
				</section>
			</div>
			<div role="tabpanel" class="tab-pane" id="examples">
				<section>
					<p>A good example is <a href="http://yfoundations.org.au/need-help/support-and-services/youth-health/" target="_blank">yfoundations</a>.
					This website states that its aim is, "to provide youth health sector support, through the Youth Health Council and by working with youth health practitioners across NSW."</p> 
				</section>
			</div>
		  </div>
		</section>	
	</div>

<!-- Mid Section -->

	<div class="container">
	
			<div class="panel panel-default" id="iframe-Q1">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Health Website:</strong> {{ title }} <input type='image' src="/static/images/glyphicons-82-refresh-lightened.png" onclick="self.location.reload();"></h3>
				</div>
				<div class="panel-body">

					<iframe height="600px" width="100%" src='{{ name }}'>
					<p>Your browser does not support iframes.</p>
					</iframe>

				</div>
			</div>
		

		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<a href="#top">Back to Top</a>
		</div>
	</div>

<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p>&copy; This website was designed and developed for Westmead Children's Hospital's Adolescent Health Literacy Project, 
		an assessment task for ISYS355/ISYS358/COMP355/COMP356 Computing Industry Project at Macquarie University, Sydney, Australia, 2017.
		The Group 5 team members are Fran Peaston, Christopher Chan, Ali Akturk, Laura Huang and Travis Wormald.</p>
		<p>The site makes use of Python modules and functions written by Steve Cassidy for 2012 COMP249 Web Technology course at Macquarie University and the <a href="http://getbootstrap.com/">Bootstrap</a> framework.</p>
      </div>
    </footer>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>