{% extends "base.html" %}
{% block content %}

<!-- Header -->
	<div class="jumbotron checklistComplete">
		<div class="container">
			<section>
				<div class="row">
					<div class="col-md-10">
						<h1>Checklist Complete</h1>
					</div>
				</div>
			</section>
		</div>
	</div>


<!-- Mid Section -->
	<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h2>Congratulations you completed the checklist.</h2>
					<p>Now you know how easy it is, we hope you use this checklist to assess all the online health resources you use.</p>
					<a href="/" class="btn btn-lg btn-default">Home</a>
				</div>	
			</div>
	</div>

{% endblock %}