{% extends "base.html" %}
{% block content %}
<!-- Header -->
	<div class="jumbotron">
		<div class="container">
				<div class="inner cover text-center">
					<h1 class="cover-heading">Why Cat</h1>
					<h2>Look after your health.<br> Learn how to spot websites you can trust.</h2>
					<p class="lead">
					<a href="checklist-start.html" class="btn btn-lg btn-default">Try Checklist</a>
					</p>
				</div>
		</div>
	</div>

<!-- Top Section -->
    <div class="container">
		<section>
			<div class="row">
				<div class="col-md-8">
					<h1>What is Why Cat?</h1>
					<p>Why Cat teaches teenagers how to critically assess the quality of online health information.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
					occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-md-4">
					<img class="img-responsive photo" alt="young adult male smiling holding tablet" src="static/whicat/images/male-student.jpg">
				</div>
			</div>
		</section>
	</div>
<!-- Mid Section -->
    <div class="container">
		<section>
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" alt="three clipart persons using laptops perched on 3D letters spelling web" src="static/whicat/images/web-word-showing-world-wide-color-adjusted.jpg">
				</div>
				<div class="col-md-8">
					<h1>About Us</h1>
					<p>Why Cat teaches teenagers how to critically assess the quality of online health information.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
					occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</section>
	</div>
	
	{% endblock %}