{% extends "base.html" %}
{% block content %}

<!-- Header -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>Question #{{ question.number }}</h1>
					<h2>{{ question.text| safe }}</h2>
					<form>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary radio-btn">
							<input type="radio" name="Q1" id="Q1-A1" autocomplete="off"> {{ question.button1 }}
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A2" autocomplete="off"> {{ question.button2 }}
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A3" autocomplete="off"> {{ question.button3 }}
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A4" autocomplete="off"> {{ question.button4 }}
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A5" autocomplete="off"> {{ question.button5 }}
							</label>
						</div>
					</form>
				</div>
				<div class="col-md-2 bottom-align-text">
					<!--<a href="#iframe-Q1">View Website</a>-->
					<a href="/checklist/question/{{ nextNum }}" class="btn btn-default">Next Question</a>
				</div>
			</div>
		</div>
	</div>

<!-- Top Section -->
    <div class="container">
		<section>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#hints" aria-controls="hints" role="tab" data-toggle="tab">Hints</a></li>
			<li role="presentation"><a href="#examples" aria-controls="examples" role="tab" data-toggle="tab">Examples</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content" id="myTabs">
			<div role="tabpanel" class="tab-pane active" id="hints">
				<section>
				
					{{ question.hint|safe }}
				
				</section>
			</div>
			<div role="tabpanel" class="tab-pane" id="examples">
				<section>
				
					{{ question.example|safe }}

				</section>
			</div>
		  </div>
		</section>	
	</div>

<!-- Mid Section -->

	<div class="container">
	
			<div class="panel panel-default" id="iframe-Q1">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Health Website:</strong> {{ urlTitle }} <input type='image' src="/static/images/glyphicons-82-refresh-lightened.png" onclick="self.location.reload();"></h3>
				</div>
				<div class="panel-body">

					<iframe height="600px" width="100%" src='{{ url }}'>
					<p>Your browser does not support iframes.</p>
					</iframe>

				</div>
			</div>
		

		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<a href="#body-open-tag">Back to Top</a>
		</div>
	</div>

{% endblock %}