{% extends "base.html" %}
{% block content %}

<!-- Header -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>Question #1</h1>
					<h2>Are the aims of the website clear?</h2>
					<form>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary radio-btn">
							<input type="radio" name="Q1" id="Q1-A1" autocomplete="off"> Not clear
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A2" autocomplete="off"> Sort of clear
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A3" autocomplete="off"> Can't decide
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A4" autocomplete="off"> Mostly clear
							</label>
							<label class="btn btn-primary radio-btn">
								<input type="radio" name="Q1" id="Q1-A5" autocomplete="off"> Very Clear
							</label>
						</div>
					</form>
				</div>
				<div class="col-md-2 bottom-align-text">
					<!--<a href="#iframe-Q1">View Website</a>-->
					<a href="checklist-Q2.html" class="btn btn-default">Next Question</a>
				</div>
			</div>
		</div>
	</div>

<!-- Top Section -->
    <div class="container">
		<section>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#hints" aria-controls="hints" role="tab" data-toggle="tab">Hints</a></li>
			<li role="presentation"><a href="#examples" aria-controls="examples" role="tab" data-toggle="tab">Examples</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content" id="myTabs">
			<div role="tabpanel" class="tab-pane active" id="hints">
				<section>
					<p>Does the website include a statement about:</p>
					<ul>
						<li>what it is about</li>
						<li>what topics it includes</li>
						<li>who it is for?</li>
					</ul>
					<p>Does the website provide the information it aims to provide?</p>
				</section>
			</div>
			<div role="tabpanel" class="tab-pane" id="examples">
				<section>
					<p>A good example is <a href="http://yfoundations.org.au/need-help/support-and-services/youth-health/" target="_blank">yfoundations</a>.
					This website states that its aim is, "to provide youth health sector support, through the Youth Health Council and by working with youth health practitioners across NSW."</p> 
				</section>
			</div>
		  </div>
		</section>	
	</div>

<!-- Mid Section -->

	<div class="container">
	
			<div class="panel panel-default" id="iframe-Q1">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Health Website:</strong> www.mydr.com.au/respiratory-health/common-cold <input type='image' src="images/glyphicons-82-refresh-lightened.png" onclick="self.location.reload();" /></h3>
				</div>
				<div class="panel-body">

					<iframe height="600px" width="100%" src="http://www.mydr.com.au/respiratory-health/common-cold">
					<p>Your browser does not support iframes.</p>
					</iframe>

				</div>
			</div>
		

		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<a href="#body-open-tag">Back to Top</a>
		</div>
	</div>

{% endblock %}